.chart_div {
	display : inline-block
}

/* #loading {
    background: url('https://vignette.wikia.nocookie.net/aj-failure-club/images/4/4b/Loading-gif-transparent-background-11.gif/revision/latest?cb=20180308015832') no-repeat center center;
    position: absolute;
    height: 100%;
    width: 100%;
} */